<h1 style="color: #ea542f; text-align: center;">Hacktiv10</h1>
<h4 style="text-align: center;">
    <a href="/" style="text-decoration: none;">
        <button style="padding: 10px 20px; background-color: #ea542f; color: white; border: none; cursor: pointer; margin-right: 10px;">Home</button>
    </a>
    <a href="/courses" style="text-decoration: none;">
        <button style="padding: 10px 20px; background-color: #ea542f; color: white; border: none; cursor: pointer; margin-right: 10px;">Courses</button>
    </a>
    <a href="/courses/add" style="text-decoration: none;">
        <button style="padding: 10px 20px; background-color: #ea542f; color: white; border: none; cursor: pointer;">Add New Course</button>
    </a>
</h4>
<hr>
